* {
  box-sizing: border-box;
}

body,
h2 {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(199, 243, 243);
}

.margin-rl-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.container {
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  background-image: url(../img/bg-container.png);
  background-repeat: no-repeat;
  background-position: 101% 0;
  background-size: 20%;
}

h2 {
  padding-top: 20px;
}

.tags-list {
  list-style: none;
}

.footer {
  padding: 30px 0;
  border-radius: 0 0 20px 20px;
  background-color: #F1F9FF;
}

.add-tag {
  width: 70%;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  border: solid 2px #737e87;
  background-color: white;
}

.tags-item {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: lightskyblue;
}

